@import "~material-components-web/material-components-web";

body {
	height: 100%;
}

.valign-wrapper {
	display: flex;
	justify-content: center;
	height: 100%;
}

.text--light {
	font-weight: 300;
}

.text--center {
	text-align: center;
}